# Ignoring C# Build Files
.vs
bin
obj
packages
*.suo
*.user
*.ide
*.dll
*.pdb

# Git Meta Files
!.gitignore
!.gitattributes
!README.md

# Whitelisted Unity Files
Unity/*
!Unity/CorePackages/

Unity/CorePackages/*
!Unity/CorePackages/Assets/
!Unity/CorePackages/Libraries/
!Unity/CorePackages/ProjectSettings/
!Unity/CorePackages/Assembly-CSharp.csproj
!Unity/CorePackages/CorePackages.sln