# Ignoring all files - We'll explicitly choose what to include.
/*
/*/

# Git Meta Files
!.gitignore
!.gitattributes
!README.md

# Whitelisted Unity Files
!/Unity/*/ProjectSettings/*
!/Unity/*/Assets/*

# C#/.Net Projects
!/Hans/*