<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Hans-Nuget" value="https://pkgs.dev.azure.com/taylorhans7/_packaging/Hans-Nuget/nuget/v3/index.json" />
    </packageSources>    
  <packageSourceCredentials>    
         <Hans-Nuget>    
                <add key="Username" value="taylor.hans7@gmail.com" />    
                <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAth/UCTbk4UmMlLIWCCnLeQAAAAACAAAAAAADZgAAwAAAABAAAABuzWQ4yv9I/tFXg3KbWqvIAAAAAASAAACgAAAAEAAAAA68gEpuykuBFTvTBffMr60QAAAAUKN67nelq4UHYKdDnMe3khQAAAB1pdEXDpxXie4SWRcTWqedIEtBHg==" />    
         </Hans-Nuget>    
  </packageSourceCredentials>
</configuration>
